@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffc30d;
  padding: 0 30px;
}

.sublogo {
  width: 300px;
}

.enter {
  padding: 15px 10px;
  background: #443200;
  border: none;
  border-radius: 22px;
  font-weight: bolder;
}

.enter:hover {
  color: #ffc30d;
}

.subsection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffc30d;
  height: 60vh;
  padding: 30px 20px 50px 20px;
}

.sectiontext {
  font-size: 60px;
}

.votinglogo {
  width: 450px;
  border: 5px dashed white;
  border-radius: 15px;
}

.subsection2 {
  display: flex;
  background: #000000;
  color: white;
  height: 40vh;
  padding: 30px;
}

/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    padding: 20px;
  }

  .sublogo {
    width: 200px;
  }

  .enter {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
  }

  .subsection {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px 10px;
  }

  .sectiontext {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .votinglogo {
    width: 250px;
    margin-bottom: 20px;
  }

  .subsection2 {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px 10px;
  }

  .sectiontext {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .votinglogo {
    width: 250px;
    margin-bottom: 20px;
  }
}
