@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

body::before, body::after {
  content: '';
  position: fixed;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(255, 221, 0, 0.237) 0%, rgba(255, 221, 0, 0.096) 70%);
  border-radius: 50%;
  filter: blur(150px);
  animation: blobMove 10s infinite alternate;
  z-index: -1;
  will-change: transform;
}

body::after {
  background: radial-gradient(circle, rgba(128, 0, 255, 0.459) 0%, rgba(128, 0, 255, 0.139) 70%);
  animation-delay: 5s;
}

/* Blob positions */
body::before {
  top: 40%;
  left: 15%;
}

body::after {
  bottom: -30%;
  right: 10%;
}

/* Blob animation */
@keyframes blobMove {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.5) translate(50px, -50px);
  }
}

/* Mobile optimization */
@media screen and (max-width: 768px) {
  body::before, body::after {
    width: 250px;
    height: 250px;
  }
}

.pp {
  display: flex;
  font-size: 5px;
}

.prior-plan {
  display: flex;
  justify-content: center;
  font-size: 8px;
  padding: 0px 20px;
  background-color: #443300;
  color: #fff;
  border-radius: 13px;
  margin-right: 8px;
  font-size: 10px;
  font-weight: bold;
  border: none;
}

.connect-btn {
  padding: 12px 15px;
  background-color: #443300;
  color: #fff;
  margin: 0 15px 0 8px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 10px;
  border: 1px solid #fff;
}

.container {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 800px;
}

.container h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.fol-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px 13px;
  border-radius: 13px;
  background: linear-gradient(45deg,#ffc30d, #b80af7);
  font-weight: bold;
  margin: auto;
}

.twitterico {
  padding: 0 10px;
  color: black;
}

.vdata-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  margin: auto;
  margin-bottom: 15px;
  width: 800px;
  margin-top: 20px;
  border-radius: 15px;
  background: rgba(39, 39, 39, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.vdata-info {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  background: rgb(30, 30, 30);
  border-radius: 12px;
  color: rgb(182, 182, 182);
}

.vdata-wallet-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.vdata-wallet-action-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vdata-wallet-action-flex p {
  margin-right: 8px;
}

.vdata-wallet-action-flex h6 {
  margin-right: 8px;
  background: #ffc30d;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.inputfield {
  padding: 18px 15px;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
  background: transparent;
  background: linear-gradient(45deg, #ffc30d, #b80af7);
  -webkit-background-clip: text;
  color: transparent;
  border: 1.5px solid #ffc30d43;
  outline: none; /* Removes the default focus outline */
}

.inputfield:focus {
  border: 1.5px solid #ffc30d43;
}

.vdata-info h3 {
  text-align: center;
  font-size: 17px;
}

.after-connect {
  margin: 0;
  width: 400px;
  padding: 10px 2px;
  background-color: #443300;
  color: #fff;
  border-radius: 13px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin: 2px 0;
}

.vdata-info-one p {
  font-size: 40px;
}

.vote-power {
  display: flex;
  align-items: center;
}

.vote-power p {
  margin: auto 15px;
  font-size: 50px;
  font-weight: bolder;
  background: linear-gradient(45deg, #ffc30d, #b80af7);
  -webkit-background-clip: text;
  color: transparent;
}

.vote-power span {
  margin-top: 5px;
  font-weight: bolder;
  font-size: 25px;
  background: linear-gradient(45deg, #ffc30d, #b80af7);
  -webkit-background-clip: text;
  color: transparent;
}

.darkmode-btn {
  width: 100px;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}

.back {
  margin: 15px 25px;
}

.backicon {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 35px;
  padding: 8px;
}

.votequestion {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border: 1.5px solid rgb(172, 172, 172);
  margin: auto;
  margin-bottom: 15px;
  width: 750px;
  margin-top: 20px;
  border-radius: 15px;
  background: rgb(39, 39, 39);
  color: #fff;
}

.answer-container {
  display: flex;
  margin: auto;
  width: 800px;
  padding: 10px;
}

.voteanswer {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 330px;
  height: 200px;
  margin: auto;
  border-radius: 13px;
  padding: 20px;
  border: 1.5px solid rgb(172, 172, 172);
  background: rgb(39, 39, 39);
  color: #fff;
}

.voteanswer section {
  margin: 20px 5px;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
}

.custom-radio input[type="radio"] {
  display: flex;
  align-items: center;
  transform: scale(1.5);
  margin-right: 10px;
}

.custom-radio label {
  cursor: pointer;
}

.votebtn {
  margin: 10px auto;
  width: 320px;
  padding: 10px 15px;
  background-color: #ffc30d;
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
  border: 1.5px solid #fff;
  font-family: inherit;
}

.votedescription {
  width: 350px;
}

.socials {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: transform var(--transition-duration) ease-in-out, background-color var(--transition-duration) ease-in-out, opacity var(--transition-duration) ease-in-out;
  opacity: 1;
}

.socials a {
  font-size: 13px;
  margin: 0px 10px;
  text-decoration: none;
  color: #ffffff;
}

.socials a:hover {
  color: #555;
}

.cancel-button {
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bolder;
}

.content {
  padding: 20px;
}

.faq {
  font-family: inherit;
  max-width: 780px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  color: white;
  border-radius: 15px;
}

.faq h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.faq-list {
  margin-top: 20px;
}

.faq-question {
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #ffc30d;
}

.faq-question h3 {
  font-size: 18px;
  color: #ffc30d;
  margin: 0;
}

.faq-question span {
  font-size: 40px;
  color: #ffc30d;
}

.faq-answer {
  border-radius: 0 0 15px 15px;
  padding: 10px;
}

.openmodal {
  background: none;
  color: white;
  padding: 5px 20px;
  border: 1.5px solid #ffc30d;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .votequestion {
    width: 90%;
  }

  .answer-container {
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .voteanswer {
    width: 400px;
    justify-content: center;
  }

  .votedescription {
    width: 90%;
  }

  .votebtn {
    width: 100%;
    font-size: 18px;
  }
  
  .faq {
    max-width: 100%;
    border-radius: 0;
  }

  .container {
    width: 100%;
    justify-content: center;
  }

  .vdata-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .vdata-info {
    width: 300px;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .votequestion {
    padding: 10px 8px;
  }

  .answer-container {
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .voteanswer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }

  .votedescription {
    width: 100%;
    font-size: 14px;
  }

  .votebtn {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
  }
}