@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');


body{
  padding: 0;
  margin: 0;
  font-family: "Hubballi", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #faf9f3;
  
}
body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}
.header{
  background: #ffc30d;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  margin: 0; 
  padding: 0;
}
.logo img{
  margin-left: 15px;
}
.headerspecial{
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.prior{
  padding: 15px 15px ;
  background-color:  #443300;
  color: #fff;
  border-radius: 40px;
  margin-right: 8px;
  font-size: 15px;
  font-weight: bold;
}
.prior:hover{
  background: rgb(0, 0, 0);
  color: #ffc30d;
}
.set{
  display: flex;
  background:  #2d2d2d;
  width: 38px;
  height: 38px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.set:hover{
  background: rgb(0, 0, 0);
}
.connect-btn{
  padding: 12px 15px ;
  background-color:  #443300;
  color: #fff;
  margin: 0 15px 0 8px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 10px;
  border: 1px solid #fff;
}
.container{
  margin: 50px auto 0 auto;
  text-align: center;
  width: 800px;
}
.container h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.fol-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px 13px;
  border-radius: 13px;
  background: rgb(177, 177, 177);
  font-weight: bold;
  margin: auto;
}
.twitterico{
  padding: 0 10px;
  color: black;
}
.vdata-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  display: flex;
  border: 1.5px solid rgb(172, 172, 172);
  margin: auto;
  margin-bottom: 15px;
  width: 800px;
  margin-top: 20px;
  border-radius: 15px;
  background:rgb(39, 39, 39);
  background-size: cover;
  color: #fff;
}

.vdata-info{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  border: 1.5px solid black;
  background: rgb(177, 177, 177);
  justify-content: center;
  border-radius: 15px;
  color: black;
}
.vdata-wallet-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.vdata-wallet-action-flex{
  display: flex;
  align-items: center;
}
.vdata-wallet-action-flex p {
  margin-right: 8px;
}
.vdata-wallet-action-flex h6 {
  margin-right: 8px;
  background: #ffc30d;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #fff;
}
.inputfield{
  padding: 18px 15px ;
  border-radius: 15px;
  border: none;
  margin-bottom: 10px;
}
.vdata-info h3{
  text-align: center;
  font-size: 17px;
}
.vdata-info button{
  padding: 18px 15px ;
  background-color: #ffc30d;
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
  border: 1.5px solid #fff;
  font-family: inherit;
}
.vdata-info-one p{
  font-size: 40px;
}
.vote-power{
  display: flex;
  align-items: center;
}
.vote-power p{
  margin: auto 15px ;
  font-size: 50px;
  font-weight: bolder;
}
.vote-power span{
  margin-top: 5px;
  font-weight: bolder;
  font-size: 25px;
}
.darkmode-btn{
  width: 100px;
  margin: 0 auto;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bolder;
}
.back{
  margin: 15px 25px;
}
.backicon{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 35px;
  padding: 8px;

}
.votequestion{
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border: 1.5px solid rgb(172, 172, 172);
  margin: auto;
  margin-bottom: 15px;
  width: 750px;
  margin-top: 20px;
  border-radius: 15px;
  background:rgb(39, 39, 39);
  color: #fff;
}
.answer-container{
  display: flex;
  margin: auto;
  width: 800px;
  padding: 10px;
}
.voteanswer{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 330px;
  height: 200px;
  margin: auto;
  border-radius: 13px;
  padding: 20px;
  border: 1.5px solid rgb(172, 172, 172);
  background:rgb(39, 39, 39);
  color: #fff;
}
.voteanswer section{
  margin: 20px 5px;

}
.custom-radio {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
}

.custom-radio input[type="radio"] {
  display: flex;
  align-items: center;
  transform: scale(1.5);
  margin-right: 10px; 
}

.custom-radio label {
  cursor: pointer;
}
.votebtn{
  margin: 10px auto;
  width: 320px;
  padding: 10px 15px ;
  background-color: #ffc30d;
  color: #fff;
  font-size: 20px;
  border-radius: 15px;
  border: 1.5px solid #fff;
  font-family: inherit;
}

.back {
  margin: 20px;
}

.backicon {
  display: inline-flex;  /* Ensure the span only takes up as much space as needed */
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 50%; /* Optional: Makes the background a circle */
  padding: 10px;  /* Adjust padding as needed */
  font-size: 24px;
  color: #ffffff;
}

.votedescription{
  width: 350px;

}
.socials{
  display: flex;
  padding: 0 8px;
  text-decoration: none;
}

.socials a {
  font-size: 17px;
  margin: 10px 10px;
  text-decoration: none;
  color: #000000;
}

.socials a:hover {
  color: #555; /* Adjust the hover color as needed */
}

.cancel-button {
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: bolder;
}

.cancel-button:hover {
  background-color: #cc0000; /* Adjust the hover color as needed */
}

.content {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .header{
    width: 100%;
    padding: 8px 0; 
  }
  .headerspecial{
    display: flex;
    align-items: center;
    margin-right: 3px;
  }
  .logo img{
    width: 150px;
  }
  .prior{
    display: none;
  }
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    width: 180px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  .container{
    width: 100%;
    justify-content: center;
  }
  .vdata-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  .vdata-info{
    width: 280px;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .votequestion {
    width: 90%;
  }

  .answer-container {
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .voteanswer {
    width: 400px;
    justify-content: center;
  }

  .votedescription {
    width: 90%;
  }

  .votebtn {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .votequestion {
    padding: 10px 8px;
  }

  .answer-container {
    border: 1px solid black;
    padding: 20px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .voteanswer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px; /* Remove conflicting margin rules */

  }

  .votedescription {
    width: 100%;
    font-size: 14px;
  }

  .votebtn {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
  }
}